.ProductCard {
  display: flex;
  flex-direction: column;
  width: 210px;
  height: 210px;
  margin: .5rem;
  font-size: .8rem;
  text-overflow: ellipsis;
}

h6 {
  font-size: .95rem;
}

.product-card-footer {
  display: flex;
  flex-direction: row;
  font-size: .95rem;
  margin: 0;
  padding: 0;
  margin-top: auto;
  justify-content: space-between;
  text-align-last: end;
}

.product-card-price {
  align-self: flex-end;
}